{% extends "::myStartUp.html.twig" %}

{% block js %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('web/bundles/acmestartup/js/landing.js') }}"></script>
{% endblock %}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('web/bundles/acmestartup/css/style.css') }}" />
{% endblock %}

{% block body %}

<div id="startUp">

	<div class="row">

		<div class="span8">

			<div class="row step">

				<div class="span">
					<div class="circle">
						<p>1</p>
					</div>
				</div>

				<div class="span5 text">
					<h1>Explore awesome content</h1>
					<p>We measure things and get222222222222 you the most awesome content tailored depending on our measurements.</p>
				</div>

			</div>

			<div class="row step">

				<div class="span">
					<div class="circle">
						<p>2</p>
					</div>
				</div>

				<div class="span5 text">
					<h1>Build a growing audience</h1>
					<p>As you surf on the WWW, you will stumble over awesome content. Share it with Vimtag and get rewarded with followers by us.</p>
				</div>

			</div>

		</div>

		<div class="span3 right-side">

			<div class="arrow"></div>
			<button class="btn btn-info join" id="join" onClick="_gaq.push(['_trackEvent', 'landing', 'join', 'join now']);">Join now!</button>

		</div>

	</div>

</div>

<div id="optinPage">

	<div class="row">

		<div class="span8 offset1 top-content">

			<h1>Hello! You caught us before we're ready.</h1>
			<p>We're working hard to put the finishing touches onto Vimtag. Things are going well and it should be ready very soon. If you'd like us to send you a reminder when we're ready, just put your email in below:</p>

		</div>

	</div>

	<div class="row">

		<div class="span8 offset1 form-container">

			<div class="row-fluid">

				<div class="span8">
					<form class="form-inline" onsubmit="return false" id="optin" {{ form_enctype(form) }}>
						<input name="optin[email]" id="optin-input" type="text" class="optinBox" placeholder="Your email">
						<button type="submit" class="btn btn-info" id="optin-submit" onClick="_gaq.push(['_trackEvent', 'landing', 'remind', 'remind me']);">Remind me</button>
						{{ form_widget(form._token) }}
					</form>
				</div>

				<div class="span2">
					<div class="alert hide" style="position:absolute;" id="optin-message">
						<button type="button" class="close">&times;</button>
						<span id="optin-message-text"></span>
					</div>
				</div>

			</div>

		</div>

	</div>

</div>

{% endblock %}