{# my first base layout in symfony2!!!! #}
<!DOCTYPE html>
<html lang="en">

	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf8" />

		<script src="{{ asset('web/bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

		<title>{% block title %}Welcome!{% endblock %}</title>

		{% block css %}
			{% stylesheets '@bootstrap' %}
				<link rel="stylesheet" type="text/css" href="/web{{ asset_url }}">
			{% endstylesheets %}
		{% endblock %}

		<link rel="shortcut" href="{{ asset('web/favicon.ico') }}">

		{% block js %}

			{% javascripts '@jquery' %}
				<script type="text/javascript" src="/web{{ asset_url }}"></script>
			{% endjavascripts %}

		{% endblock %}

	</head>

	<body>

		<div class="wrapper">

			<div class="container-fluid header">
				<div class="container">
					<h1>Explore great content.</h1>
					<h2>Get connected with people thinking similar as you.</h2>
				</div>
			</div>

			<div class="container-fluid body">
				<div class="container">
					{% block body %}{% endblock %}
				</div>
			</div>

			<div class="push"></div>
		</div>

			<div class="container-fluid footer-container">

				<div class="container footer">

					<p>&copy; 2013 Vimtag All rights reserved.</p>

				</div>

			</div>
		{% block js_footer %}

			{% javascripts '@bootstrap_js' %}
				<script type="text/javascript" src="/web{{ asset_url }}"></script>
			{% endjavascripts %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40509082-1', 'vimtag.com');
  ga('send', 'pageview');

</script>
		{% endblock %}

	</body>

</html>