{# my first base layout in symfony2!!!! #}
<!DOCTYPE html>
<html lang="en">

	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf8" />

		<script src="{{ asset('web/bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

		<title>{% block title %}Welcome!{% endblock %}</title>

		{% block css %}
			{% stylesheets '@bootstrap' %}
				<link rel="stylesheet" type="text/css" href="/web{{ asset_url }}">
			{% endstylesheets %}
		{% endblock %}

		<link rel="shortcut" href="{{ asset('web/favicon.ico') }}">

		{% block js %}

			{% javascripts '@jquery' %}
				<script type="text/javascript" src="/web{{ asset_url }}"></script>
			{% endjavascripts %}

			<script type="text/javascript">

			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-40509082-1']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();

			</script>

		{% endblock %}

	</head>

	<body>

		<div class="wrapper">

			<div class="container-fluid body">
				<div class="container">
					{% block body %}{% endblock %}
				</div>
			</div>

		</div>

		{% block js_footer %}

			{% javascripts '@bootstrap_js' %}
				<script type="text/javascript" src="/web{{ asset_url }}"></script>
			{% endjavascripts %}

		{% endblock %}

	</body>

</html>