<!DOCTYPE html>
<html lang="en">

	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf8" />

		<script src="{{ asset('web/bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

		<title>{% block title %}Welcome!{% endblock %}</title>

		{% block css %}
			{% stylesheets '@bootstrap' %}
				<link rel="stylesheet" type="text/css" href="/web{{ asset_url }}">
			{% endstylesheets %}
		{% endblock %}

		<link rel="shortcut" href="{{ asset('web/favicon.ico') }}">

		{% block js %}

			{% javascripts '@jquery' %}
				<script type="text/javascript" src="/web{{ asset_url }}"></script>
			{% endjavascripts %}

		{% endblock %}

	</head>

	<body>


		<div class="wrapper">
			<div class="container-fluid">
					{% block body %}{% endblock %}
			</div>
			<div class="push"></div>
		</div>
		<div class="footer">
			<div class="container-fluid" id="feed">
				<div class="row-fluid" style="height: 99px">
					<div class="span3">
						<div class="vertical-container">
							<div id="feeds">
								<p>
									You got <b>3</b> new followers.
								</p>
								<p>
									You got <b>3</b> new followers.
								</p>
								<p>
									You got <b>3</b> new followers.
								</p>
							</div>
						</div>
					</div>
					<div class="span2 text-center offset2">
						<div class="vertical-container">
							<div class="logo">
								<p>Skim</p>
							</div>
						</div>
					</div>
					<div class="span3 offset2">
						<div class="vertical-container">
							<div id="follower-feed">
								Nickname: Follower
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% block js_footer %}

			{% javascripts '@bootstrap_js' %}
				<script type="text/javascript" src="/web{{ asset_url }}"></script>
			{% endjavascripts %}

		{% endblock %}

	</body>

</html>